Automated YouTube Shorts and Facebook Reels Creator.json
{
  "name": "Automated YouTube Shorts and Facebook Reels Creator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        128
      ],
      "id": "87358678-2971-4120-8fea-a52e13b29629",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate ASMR.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a world-class cinematographer and prompt engineer specializing in realistic nature videos Create a breathtaking realistic 10-second cinematic nature video set in untouched Japan location 4K, photorealistic, volumetric god rays, soft haze, golden hour or blue hour lighting, filmic teal-orange grade, slight grain, smooth slow drone or dolly move at 60fps 16:9, detailed dew, wind in leaves, subtle wildlife, no humans no text, serene mood, wide start to close-up finish, ray-traced reflections, photogrammetry detail. Location: unique pristine Japan spot each time. Camera: slow rising drone rise or gentle tracking. Weather: sunrise fog, sunset glow or blue hour mist.\n\nMake your output in JSON format:\n{\n\"prompt\": \"<insert generated prompt here>\",\n\"videoTitle\": \"<insert generated videoTitle here>\",\n\"videoDescription\": \"<insert generated videoDescription here>\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        128
      ],
      "id": "ba87f1b8-fba7-48f7-88e1-160d32f3bacd",
      "name": "Generate Prompt"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        352
      ],
      "id": "7a700033-978c-43b7-a5f6-f0631cf6de56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xdW5lAFnOpIFEiks",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"prompt\": \"<insert generated prompt here>\",\n\"videoTitle\": \"<insert generated videoTitle here>\",\n\"videoDescription\": \"<insert generated videoDescription here>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        352
      ],
      "id": "f7b36841-8d91-45bf-8515-dd106dd54569",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  \"type\": \"service_account\",\n  \"project_id\": \"n8n-projects-477705\",\n  \"private_key_id\": \"86c9622a40c67576461d27fae826f5749b386088\",\n  \"client_email\": \"asmr-video-creator-service-acc@n8n-projects-477705.iam.gserviceaccount.com\",\n  \"client_id\": \"112564463139152776605\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/asmr-video-creator-service-acc%40n8n-projects-477705.iam.gserviceaccount.com\",\n  \"universe_domain\": \"googleapis.com\"\n}\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ],
      "id": "5cf7fd88-6dce-46ac-909b-86e3f9920d14",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "useJson": true,
        "claimsJson": "={\n\"iss\": \"{{ $json.client_email }}\",\n\"scope\": \"https://www.googleapis.com/auth/cloud-platform\",\n\"aud\": \"https://oauth2.googleapis.com/token\",\n\"iat\": {{ Math.floor($now.toSeconds()) }},\n\"exp\": {{ Math.floor($now.plus({ seconds: 3600 }).toSeconds()) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        720,
        128
      ],
      "id": "7b51c861-e836-4774-afff-399f0ccd237c",
      "name": "JWT",
      "credentials": {
        "jwtAuth": {
          "id": "oTnXTnrM9X70rg4b",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oauth2.googleapis.com/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "urn:ietf:params:oauth:grant-type:jwt-bearer"
            },
            {
              "name": "assertion",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        128
      ],
      "id": "20b42dc3-6620-4d3a-988b-67a3c4641fa9",
      "name": "Exchange JWT for Access Token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/n8n-projects-477705/locations/us-central1/publishers/google/models/veo-3.1-generate-preview:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"instances\": [\n{\n\"prompt\": \"{{ $('Generate Prompt').item.json.output.prompt }}\"\n}\n],\n\"parameters\": {\n\"durationSeconds\": 8,\n\"generateAudio\": true,\n\"aspectRatio\":\"9:16\",\n\"negativePrompt\": \"UI, overlays, captions, on-screen buttons, phone interface, subtitles, mentions\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        128
      ],
      "id": "4faa3d44-947b-42c8-bdcb-fb4e5762b385",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        128
      ],
      "id": "e9a64830-567d-4e59-8de4-a1c18b1f875d",
      "name": "Wait",
      "webhookId": "6ddca307-ab16-4c21-b023-44e8fa88a0b8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/n8n-projects-477705/locations/us-central1/publishers/google/models/veo-3.1-generate-preview:fetchPredictOperation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Exchange JWT for Access Token').item.json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "operationName",
              "value": "={{ $('Generate Video').item.json.name }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        128
      ],
      "id": "eb834f4c-d0e3-47b9-9efc-373f4f043acd",
      "name": "Get Generated Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76771f3b-233b-4951-b887-20c26faa6dda",
              "leftValue": "={{ $json.body.done }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        496
      ],
      "id": "a3ec50b3-a351-4ba4-b02c-69bc0607cebb",
      "name": "Is Video Generated Done?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e03bac03-fb6e-4bc3-a554-d13074d5be9a",
              "leftValue": "={{ $json.body.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1456,
        496
      ],
      "id": "8e6d4e6c-0f5d-4925-8a68-4fa19cf30ead",
      "name": "Is Error?"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.response.videos[0].bytesBase64Encoded",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1632,
        128
      ],
      "id": "288af8a2-caa6-491c-8413-6c6afbe6da30",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Generate Prompt').item.json.output.videoTitle }}",
        "regionCode": "PH",
        "categoryId": "24",
        "options": {
          "description": "={{ $('Generate Prompt').item.json.output.videoDescription }}",
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1904,
        336
      ],
      "id": "20b9b059-b1db-4968-aa15-866850c97da7",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "OCRC7xyRZQ2EC9Cz",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "hostUrl": "graph-video.facebook.com",
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "videos",
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "description",
                "value": "={{ $('Generate Prompt').item.json.output.videoDescription }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2112,
        336
      ],
      "id": "4a702089-f4e9-421d-8956-92dbdddf3155",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "GkPebgKnpv6vBIhT",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Publish Video\n",
        "height": 336,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        224
      ],
      "id": "e753af94-08bf-4df4-99b2-a1ad05eebee6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Validations\n",
        "height": 304,
        "width": 592,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        416
      ],
      "id": "4612267b-071f-4524-ac71-8c58e1bc0765",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c5e879a-b3bf-4318-b3b0-990640b9799c",
              "leftValue": "={{ $json.body.response.raiMediaFilteredReasons }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        496
      ],
      "id": "e02b102c-01fc-44ed-b4f0-1b210c7c8bb0",
      "name": "Is Video Compliant?"
    },
    {
      "parameters": {
        "content": "## Generate Video\n",
        "height": 320,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        32
      ],
      "id": "e07941b3-8e43-44fa-8b24-470e7e6aa90f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Generate Token",
        "height": 320,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        32
      ],
      "id": "bab43211-cfee-48c1-ae0f-394cc7194e33",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## LLM",
        "height": 464,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        32
      ],
      "id": "953889c5-e159-4d44-a738-a7def36bf8e7",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Prompt",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT": {
      "main": [
        [
          {
            "node": "Exchange JWT for Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exchange JWT for Access Token": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Generated Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Generated Video": {
      "main": [
        [
          {
            "node": "Is Video Generated Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video Generated Done?": {
      "main": [
        [
          {
            "node": "Is Video Compliant?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Error?": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video Compliant?": {
      "main": [
        [
          {
            "node": "Is Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3b70fb8-8354-4b44-b234-882cd6a3c432",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3656e233b8a6a17cfbe1b4825e69234426a4f2f9baf1a781f3279ed7dc3b34b"
  },
  "id": "ZE0XawQxhZu8NZF9",
  "tags": []
}